body {
    font-family: 'Roboto', sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden
}
h1.main-header {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
}
img {
    width: 100%;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}
#macbook #laptop-body {
    cursor: pointer;
}
#macbook,
#macbook .closed-lid,
#macbook .open-lid {
    position: absolute;
}
#macbook .open-lid {
    opacity: 0;
    z-index: 0;
}
#macbook .closed-lid {
    z-index: 1;
}
.guide-text-container {
    z-index: 2;
    bottom: calc(350px - 10vw);
    right: 0;
}
.guide-text {
    opacity: 0.8;
    font-weight: 100;
    font-size: 4rem;
    animation: colorChange ease-in-out 2s alternate infinite;
}
#nav {
    position: absolute;
    top: 0;
    right: 0;
}
#nav .list-group-item {
    background-color: transparent !important;
}
#about-me {
    padding: 3rem;
    display: none;
    background-color: #fff;
    min-height: 100%;
    width: 100%;
}
#about-me h1 {
    font-size: 6rem;
}
#about-me p {
    font-size: 2rem;
}

@keyframes colorChange {
    0% {
        opacity: 0.8;
        color: #92B901;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
        color: #1ec7e6;
    }
}

/* Mobile and Tablets */
@media only screen and (max-device-width: 768px) {
    div.guide-text-container.container-fluid {
        padding: 0 !important;
        margin-left: -15px !important;
    }
    .guide-text-container {
        bottom: calc(300px - 10vw);
    }
}

.main-header {
    font-size: 6rem;
}
.closed-eyes path {
    display: none;
}
