body {
    font-family: 'Roboto', sans-serif;
}

#macbook {
    cursor: pointer;
}
#macbook,
#macbook .closed-lid,
#macbook .open-lid {
    position: absolute;
}
#macbook .open-lid {
    opacity: 0;
    z-index: 0;
}
#macbook .closed-lid {
    z-index: 1;
}
.guide-text-container {
    margin-top: 20rem;
}
.guide-text {
    opacity: 0.8;
    font-weight: 100;
    animation: colorChange ease-in-out 2s alternate infinite;
}

@keyframes colorChange {
    0% {
        opacity: 0.8;
        color: #92B901;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
        color: #1ec7e6;
    }
}